{% extends 'training_plans/tp_layout.html' %}
{% block content %}
<div class="ct_choseTraining_form">
    <div class="backBtn_div">
		<a class="backBtn" href="{% url 'trainingsPage' %}"
			><span class="material-symbols-outlined"
				>arrow_back</span
			>
		</a>
	</div>
    <form method="POST" action="{% url 'processPlan' %}">
        {% csrf_token %}
        <div class="ct_training_name">
            <input type="text" name="training_name" placeholder="Wpisz nazwę treningu">
        </div>
        <div class="ct_training_name">
            <input type="number" step="0.01" name="weight" placeholder="Podaj wagę">
        </div>
        <div class="choseTraining_select">
            <select name="training_plan">
                <option value="0" disabled selected>Wybierz plan treningowy</option>
                {% for ob in all_plans %}
                    <option value="{{ ob.id }}">{{ ob.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="choseTraining_btn">
            <input class="btn btn-outline-light" type="submit" value="Wybierz">
        </div>
    </form>   

</div>


{% endblock %}
