{% extends 'training_plans/tp_layout.html' %}

{% block content %}
    
    {% for plan in training_plans %}
        <div class="training_plans_name">
            <a class="name_txt" href="{% url 'trainingPlanPage' plan.pk %}"> {{plan.name}} </a>
            
        </div>
    {% endfor %}
    
        <div class="custom_TP">
            <a style="position: absolute; right: 3%; margin-top: 10px; " type="button" class="btn btn-outline-light">Stwórz własny plan </a>            
            <h2 class="custom_TP_header"> Plany treningów stworzone przez ciebie </h2>
            {% for plan in custom_plans %}
                <a class="name_txt" href="{% url 'customPlanPage' plan.pk %}"> {{ plan.name }}</a><br/>
            {% endfor %}
            <!-- <br/>
            <br/>
            <br/>
            <p> {{ user.pk }}</p> -->
            


        </div>

{% endblock %}