{% extends 'main/layout.html' %} {% block content %}

<!-- TODO: !!!!Створити вигляд вікна користувача -->
<!-- TODO: Добавити перехід до різних сторінок з вправами і т.д.-->

<br/>
<div class="main_txt">
    <h3> POWITANIE </h3>
<br/>
<p> 
        Witaj {{user}} w naszej aplikacji do śledzenia postępów na siłowni! Cieszymy się, że zdecydowałeś się dołączyć do naszej społeczności. Nasza aplikacja została stworzona z myślą o tym, aby pomóc Ci monitorować i analizować Twoje treningi, abyś mógł osiągać swoje cele fitness w sposób bardziej efektywny. Rozpocznij swoją przygodę już teraz i zobacz, jak łatwo można śledzić swoje postępy!

        
    </p>
<br/>
<p>
        Przed rozpoczęciem korzystania z naszej aplikacji, prosimy o uważne przeczytanie poniższego dysklajmera:
    </p>
<br/>
<p>

        Autorzy i twórcy tej aplikacji nie ponoszą odpowiedzialności za jakiekolwiek szkody, kontuzje lub inne problemy zdrowotne wynikające z korzystania z aplikacji. Korzystając z aplikacji, użytkownik przyjmuje pełną odpowiedzialność za swoje działania i decyzje treningowe. Przed rozpoczęciem jakiegokolwiek programu treningowego lub wprowadzeniem znaczących zmian w swoim planie ćwiczeń, zalecamy skonsultowanie się z lekarzem lub innym wykwalifikowanym specjalistą medycznym.
    </p>
<br/>
<p>
        Pamiętaj, że Twoje zdrowie i bezpieczeństwo są najważniejsze. Dziękujemy za zrozumienie i życzymy powodzenia w osiąganiu Twoich celów fitness!    
    </p>
<br/>
</div>
{% endblock %}
