{% extends 'main/layout.html' %}

{% block content %}

    <h1> Trainingi Zrealizowane </h1>
    <!-- <div class="content">
        <div class="row">
            <div class="col-md-6">
                <h1> Trainingi Zrealizowane </h1>
                <br>
                <p> Cwiczenie: {{ exercise.name }} </p>
                <p> Opis: {{ exercise.description }} </p>
                <p> Ilosc serii: {{ exercise.series }} </p>
                <p> Ilosc powtorzen: {{ exercise.repeats }} </p>
                <p> Czas trwania: {{ exercise.duration }} </p>
                <p> Czas odpoczynku: {{ exercise.rest }} </p>
                <p> Obraz: <img src="{{ exercise.image.url }}" alt="{{ exercise.name }}" width="200" height="200"> </p>
            </div>
        </div> -->
{% endblock %}