{% extends 'exercises/ex_layout.html' %}


{% block content %}
<div class="ex">
    
    <div class="ex_left">
        <div class="ex__item ex__name">
            <div class="backBtn_div">
                <a class="backBtn" href="{% url 'exercisesPage' %}"><span class="material-symbols-outlined">arrow_back</span></a>
            </div>
            <div class="ex_name_title">
                <h3> {{ exercise.name }}</h3>
            </div>
        </div>
        
        <div class="ex__item ex__description">
            <h3>{{ exercise.description }}</h3>
        </div>
    
    </div>

    <div class="ex_right">
        
      <div class="ex__item ex__gif">

          <img src="/static/exercises/jpg/{{ exercise.video }}.gif" width="100%" height="50%" alt="sss">
      </div>

    </div>
    
</div>
<!-- /static/main/jpg/9.jpg -->
<!-- <img src="exercises/jpg/{{ exercise.video }}" alt="exercise image"> -->
{% endblock %}